<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_CONNECT"
        tools:targetApi="31" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_SCAN"
        tools:targetApi="31" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADVERTISE"
        tools:targetApi="31" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sensores_ESCOM_V2"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".presentation.locations.outdoor.PlazaTorresPb"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.common.base.GameplayActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".presentation.locations.buildings.encb.ENCB"
            android:configChanges="orientation|screenSize|keyboardHidden"/>
        <!-- Building2 Activity -->
        <activity
            android:name=".presentation.locations.buildings.cidetec.Cidetec"
            android:exported="false"/>
        <activity
            android:name=".presentation.components.BuildingNumber2"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".presentation.locations.buildings.building4.BuildingNumber4"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".presentation.locations.outdoor.Zacatenco"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".presentation.locations.outdoor.Lindavista"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".presentation.locations.outdoor.EstacionamientoEscom"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".presentation.locations.outdoor.TramoAtrasPlaza"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".presentation.components.BuildingEdificioIA"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".presentation.components.BuildingEdificioIA_Medio"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".presentation.components.BuildingEdificioIA_Alto"
            android:configChanges="orientation|screenSize|keyboardHidden"/>
        <activity
            android:name=".presentation.locations.buildings.buildingIA.classroom.Salon4102"
            android:configChanges="orientation|screenSize|keyboardHidden"/>
        <activity
            android:name=".presentation.locations.outdoor.Esime"
            android:configChanges="orientation|screenSize|keyboardHidden"/>
        <activity
            android:name=".presentation.locations.outdoor.locations.esime.buildings.Edificio3Activity"
            android:configChanges="orientation|screenSize|keyboardHidden"/>
        <activity
            android:name=".presentation.components.ipn.zacatenco.escom.buildingNumber2.classrooms.Salon2009"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".presentation.locations.buildings.plaza.PlazaVistaNorte"
            android:configChanges="orientation|screenSize|keyboardHidden"/>
        <activity
            android:name=".presentation.components.ipn.zacatenco.escom.buildingNumber2.classrooms.Salon2010"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".presentation.locations.buildings.building3.SalonPacman"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".presentation.locations.buildings.cafeteria.Cafeteria"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".presentation.locations.lab.LaboratorioPosgradoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"/>
        <activity
            android:name=".presentation.locations.outdoor.SalidaMetro"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".presentation.locations.outdoor.MetroPolitecnico"
            android:configChanges="orientation|screenSize|keyboardHidden"/>
        <activity
            android:name=".presentation.components.BuildingNumber2Piso1"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".presentation.components.ipn.zacatenco.escom.buildingNumber2.classrooms.Salon2001"
            android:configChanges="orientation|screenSize|keyboardHidden"/>
        <activity
            android:name=".presentation.components.ipn.zacatenco.escom.buildingNumber2.classrooms.Salon2002"
            android:configChanges="orientation|screenSize|keyboardHidden"/>
        <activity
            android:name=".presentation.components.ipn.zacatenco.escom.buildingNumber2.classrooms.Salon2003"
            android:configChanges="orientation|screenSize|keyboardHidden"/>
        <activity
            android:name=".presentation.components.ipn.zacatenco.escom.buildingNumber2.classrooms.Salon2004"
            android:configChanges="orientation|screenSize|keyboardHidden"/>
        <activity
            android:name=".presentation.components.ipn.zacatenco.escom.buildingNumber2.classrooms.Salon2005"
            android:configChanges="orientation|screenSize|keyboardHidden"/>
        <activity
            android:name=".presentation.components.ipn.zacatenco.escom.buildingNumber2.classrooms.Salon2006"
            android:configChanges="orientation|screenSize|keyboardHidden"/>
        <activity
            android:name=".presentation.locations.transportation.Cablebus"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".presentation.locations.buildings.buildingIA.PalapasIA"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".presentation.components.PalapasISC"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />
        <activity
            android:name=".presentation.locations.buildings.gobierno.EdificioGobierno"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".presentation.locations.outdoor.GlobalMapActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"/>
        <activity
            android:name=".presentation.locations.outdoor.ESIA"
            android:configChanges="orientation|screenSize|keyboardHidden"/>
        <activity
            android:name=".data.map.Bluetooth.DeviceListActivity"
            android:exported="true"
            android:theme="@style/Theme.Sensores_ESCOM_V2" />
        <activity
            android:name=".presentation.locations.outdoor.OSMMapActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="sensorLandscape"
            android:exported="false" />
    </application>

</manifest>